<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section>
        <h3>Creat Post Here!</h3>
        <form action="/admin" method="post">
            <label for="title">Name</label><br>
            <input type="text" id="title" name="title" required><br><br>
            <textarea id="txtArea" rows="4" cols="50" name="content" required placeholder="description..."></textarea><br><br>
            <button type="submit">Create</button><br>
        </form>
    </section>
</body>
</html>