<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Post</title>
</head>

<body>
    <h2 class="title">Post Page</h2>
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quaerat laboriosam molestias error quasi
        soluta iure eligendi aut totam natus odit quod velit, cum possimus fuga id saepe laborum corrupti?</p>
</body>

</html>
